# Environment & Secrets
.env
authkey.txt
*.pem
identity.json
*.wallet

# Docker & Persistent Service Data
tailscale-data/
etc-pihole/
etc-dnsmasq.d/

# Logs and Databases
*.log
*.db

# Operating System Files
.DS_Store
Thumbs.db